<h2>Share your favourite Games</h2>

<form action="/games" method="post">
  <label for="">Title</label>
  <input type="text" name="title">

  <label for="">Image URL</label>
  <input type="text" name="image_url">

  <label for="">Description</label>
  <input type="text" name="description">

  <label for="">Genre</label>
  <input type="text" name="genre">

  <label for="">Platform</label>
  <input type="text" name="platform">

  <label for="">Release Date</label>
  <input type="date" name="release_date">

  <button>Share</button>
</form>